/* Newsletter global (in common) start */
.newsletterInput {
  border: none;
  border-bottom: 1px solid gray;
}
.newsletterInput:focus{
  outline: none;
}
.newsletterSubmit {
  background: #f45411;
  color: white;
  outline: 0;
  border: none;
  border-radius: 10px;
  padding: 2px 7px;
}
.newsletterSubmit {
  cursor:pointer;
}
/* Newsletter global (in common) end */

/* Newsletter on other pages (not homepage) start */
.nssFooter .newsLetterWidgetContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nssFooter .newsLetterWidgetContainer h3 {
  font-size: 1.5em;

}
.nssFooter .newsLetterWidgetContainer .newsletterForm {
  border: 3px solid #f45411;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 7px;
  border-radius: 10px;
}
/* Newsletter on other pages (not homepage) end */

/* Newsletter on homepage start */
.home .newsLetterWidgetContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 100%;
  border: 3px solid #f45411;
  border-radius: 10px;
  @media only screen and(max-width:1919px) {
    flex-direction:column;
    width:90%;
  }
}
.home .newsletterInput {
  font-size:1.4em;
}
.home .newsletterSubmit {
  font-size:1.4em;
  padding: 5px 15px;
}
@media only screen and (max-width:1200px) {
  .home .newsLetterWidgetContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width:1365px) and (min-width:768px) {
  .nssFooterContainer {
    flex-direction:column;
    align-items: center;
  }
}
@media only screen and (max-width:476px) {
  .home .newsletterForm {
    display: flex;
    flex-direction: column;
  }
  .home .newsletterSubmit {
    margin-top:15px;
  }
}
@media only screen and (max-width:476px) {
  .newsLetterWidgetContainer h2 {
    font-size: 1.2em;
    margin-bottom:10px;
  }
}
/* Newsletter on homepage end */